<div class="search">
<form class="container">
      <input class="form-control mx-6 input__color" type="search" placeholder="Busca comida, bebidas, productos y más..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 ml-auto btn__color" type="submit">Buscar</button>
</form>
</div>

<div class="banner">
    <img src="img/" alt="">
</div>

<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">
            <h1 class="mb-1">Favorite links</h1>
            <h3 class="mb-5">
                <em>Guarda tus enlaces favoritos</em>
            </h3>
            {{!-- <a href="/signin" class="btn btn-primary">
                Empecemos
            </a> --}}
        </div>
    </header>
</main>

<script type="text/javascript" src="js/jquery.js'"></script>
<script type="text/javascript" src="js/ed-grid.js"></script>