<div class="search">
<form class="container">
      <input class="form-control mx-6 input__color" type="search" placeholder="Busca comida, bebidas, productos y más..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 ml-auto btn__color" type="submit">Buscar</button>
</form>
</div>

{{!-- <div class="banner">
    <img src="" alt="">
</div> --}}

<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">
            <h1 class="mb-1">Tenemos lo que estas buscando</h1>
            <h3 class="mb-5">
                <em>Rápidp, Seguro, Confiable</em>
            </h3>
            <a href="/links" class="btn btn-primary">
                Empecemos
            </a>
            <a href="/productos" class="btn btn-primary">
                Empecemos 2
            </a>
        </div>
    </header>
</main>

<script type="text/javascript" src="js/jquery.js'"></script>
<script type="text/javascript" src="js/ed-grid.js"></script>